<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <h1>Hello,I am James Kimata.How are you?</h1>
  {{result}}
  
  <h1>A fine view of Random dogs</h1>
  {{result2}}
  <img src = {{result2}} alt = "A fine view Random dogs" />
  
  <h1>A good photo of random cats</h1>
  {{result3}}
  <img src = {{result3}} alt = "A good photo of random cats" />
  
</body>
</html>



