{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <title>Document</title>
</head>
<body>
  <h1>Hello,I am James Kimata.How are you?</h1>
  <h2> Welcome to my webpage.</h2>
  <h2>I love pets.How about you?</h2>
  <h2>Enjoy the tour of my favorite pets</h2>

  <h1>Random pet Ids to refer to your pet: </h1>
  {{result}}
  
  <h1>A fine view of pleasant dogs</h1>
  {{result2}}
  <img src = {{result2}} alt = "A fine view Random dogs" />
  
  <h1>A good photo of cute cats</h1>
  {{result3}}
  <img src = {{result3}} alt = "A good photo of random cats" />

  <h1>A beautifull photo of Pets</h1>
  {{result4}}
  <img src = {{result4}} alt = "A beautifull photo of Pets" />

  <h1>Are you feeling bored? Try the following activities with your pet.</h1>
  {{result5}}
  

  <h1>Enjoy the jokes with your pet.Have a nice evening </h1>
  {{result6}}

  <h1>Byeeeeeeeeeeeeeeeeeeeeeeeeeeee. See you !!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>

  
  
</body>
</html>



